.header{
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #000;
    justify-content: space-between;
}
.header ul{
    display: flex;
    gap: 20px;
}